Repository hsirtl/chat-with-your-data-solution-accelerator-pr: changes, and which Azure pipelines are due for each by the changed paths.
All: .ado/ci-frontend.yaml, .ado/ci-varupdate.yaml, .ado/infra-deployment_bicep.yaml

Path conditions:
  .ado/ci-frontend.yaml: any of: code/frontend
  .ado/ci-varupdate.yaml: any of: code/frontend
  .ado/infra-deployment_bicep.yaml: any of: infra

acr to standard sku
  infra/main.bicep
Due: .ado/infra-deployment_bicep.yaml

only useDocker necessary for acrPull
  infra/app/web.bicep
Due: .ado/infra-deployment_bicep.yaml

acrUseManagedIdentityCreds
  infra/core/host/appservice.bicep
Due: .ado/infra-deployment_bicep.yaml

adminweb acrpull
  infra/app/adminweb.bicep
  infra/app/web.bicep
  infra/main.bicep
Due: .ado/infra-deployment_bicep.yaml

ci-admin added
  .ado/ci-admin.yaml
  .ado/ci-varupdate.yaml
Due: none

acrpull for function
  infra/app/function.bicep
  infra/main.bicep
Due: .ado/infra-deployment_bicep.yaml

backendFunctionName var
  .ado/infra-deployment_bicep.yaml
  infra/main.bicep
Due: .ado/infra-deployment_bicep.yaml

backendFunctionName update step
  .ado/infra-deployment_bicep.yaml
Due: none

backend-function.yaml initial version
  .ado/ci-backend-function.yaml
Due: none

new params per warnings
  .ado/ci-backend-function.yaml
Due: none

acrAdminUserEnabled true
  infra/main.bicep
Due: .ado/infra-deployment_bicep.yaml

minor change to track app updates
  code/backend/Admin.py
Due: none

app service basic -> standard
  infra/main.bicep
Due: .ado/infra-deployment_bicep.yaml

pricing tier B->S1
  infra/main.bicep
Due: .ado/infra-deployment_bicep.yaml

override from Azure-Samples
  code/frontend/src/pages/layout/Layout.tsx
  docker/Frontend.Dockerfile
  infra/app/adminweb.bicep
  infra/app/function.bicep
  infra/main.bicep
Due: .ado/ci-frontend.yaml, .ado/ci-varupdate.yaml, .ado/infra-deployment_bicep.yaml

empty line added
  code/frontend/src/pages/layout/Layout.tsx
Due: .ado/ci-frontend.yaml, .ado/ci-varupdate.yaml

2nd override from Azure-Samples
  code/frontend/src/pages/layout/Layout.tsx
Due: .ado/ci-frontend.yaml, .ado/ci-varupdate.yaml

upgrade
  code/frontend/package-lock.json
  code/frontend/package.json
Due: .ado/ci-frontend.yaml, .ado/ci-varupdate.yaml
